LIGA_AUSBUTLER_FTP_ENABLED=1
LIGA_AUSBUTLER_FTP_HOST=ftp.example.com
LIGA_AUSBUTLER_FTP_USER=ftp_user
LIGA_AUSBUTLER_FTP_PASS=ftp_pass

LIGA_AUSBUTLER_DB_HOST=mysql.example.com
LIGA_AUSBUTLER_DB_USER=mysql_user
LIGA_AUSBUTLER_DB_PASS=mysql_pass
